@model Movie

<h1>Edit Movie</h1>
<hr />
<form method="post" asp-controller="Movies" asp-action="Edit">
    <input type="hidden" asp-for="MovieId" value="@Model.MovieId" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" name="Title" value="@Model.Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"> @Model.Description</textarea>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input class="form-control" asp-for="ImageUrl" value="@Model.ImageUrl" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenreId"></label>
        <select class="form-control" asp-for="GenreId" asp-items="ViewBag.Genres"></select>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Edit</button>
</form>