<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Film Listesi</h1>
    <div id="filmler">
        <div class="film">
            <p>@ViewBag.movieTitle</p>
            <p>@ViewBag.movieDescription</p>
            <p>@ViewBag.movieDirector</p>
            <p>
                <ul>
                    @foreach (var item in ViewBag.actors)
                    {
                        <li>@item</li>
                    }
                </ul>
            </p>
        </div>
    </div>
</body>
</html>