@model MoviesViewModel


<div id="filmler">
    @if (Model.Movies.Count() > 0)
    {
        <div class="row">
            @foreach (var movie in Model.Movies)
            {
                @await Html.PartialAsync("_movie", movie)
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">No movies found.</div>
    }
</div>

@section menu
{
    @*@await Html.PartialAsync("_menu", Model.Genres)*@
    @await Component.InvokeAsync("Genres")
}